<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="icon" href="/favicon.ico" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
      <div class="job-header">
        <div class="container">
          <h1>口袋通是什么？</h1>
          <p>目前我们在做基于SAAS模式的社会化的CRM（微店铺+微粉丝营销）平台，简单而言就是帮商家（目前是中小电商）管理他们的客户，服务客户，并能通过各类营销手段，产生交易获得订单(已经接入微信支付)，目前基于微信和微博的已经完成了初版，围观地址：<a href="http://koudaitong.com" target="_blank">koudaitong.com</a></p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {{ content }}
        </div>
      </div>
      <footer role="contentinfo">
        <div class="container">
          <p>Maintained by the <a href="http://koudaitong.com">Koudaitong.com</a> with the help of <a href="http://getbootstrap.com/">Bootstrap</a>.</p>
          <p>Code licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>
          <ul class="footer-links muted">
              <li>Currently v0.0.1</li>
              <li>·</li>
              <li><a href="https://github.com/koudaitong" target="_blank">GitHub</a></li>
              <li>·</li>
              <li><a href="http://weibo.com/koudaitong" target="_blank">微博</a></li>
            </ul>
        </div>
      </footer>
      <script src="//cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="//cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script>
        var $window = $(window);
        var $body   = $(document.body);
        $body.scrollspy({
          target: '.js-sidebar'
        });

        $window.on('load', function () {
          $body.scrollspy('refresh')
        });

        var $sideBar = $('.js-sidebar');
        $sideBar.affix({
          offset: {
            top: function() {
              var offsetTop      = $sideBar.offset().top
              var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10)
              var navOuterHeight = $('#top').height()

              return (this.top = offsetTop - navOuterHeight - sideBarMargin)
            }
          }
        });
      </script>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46030100-1', 'koudaitong.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
